label[for="red"]{
  color:red;
  text-decoration:underline;
}

label[for="green"]{
  color:green;
  text-decoration:underline;
}

label[for="blue"]{
  color:blue;
  text-decoration:underline;
}

input[type="checkbox"]{
  display: none;
}

.red  {
  background:red;
  border-radius:6px;
  color:#fff;
  padding:4px;
  display: inline;
}

.green {
  background:green;
  border-radius:6px;
  color:#fff;
  padding:4px;
  display: inline;
}

.blue {
  background:blue;
  border-radius:6px;
  color:#fff;
  padding:4px;
  display: inline;
}

#red:checked ~.red{
  display:none;
}

#red:checked ~label[for="red"]{
  opacity:0.5;
}

#green:checked ~.green{
  display:none;
}

#green:checked ~label[for="green"]{
  opacity:0.5;
}

#blue:checked ~.blue{
  display:none;
}

#blue:checked ~label[for="blue"]{
  opacity:0.5;
}